.banner {
  height: .52rem;
  padding: .05rem ;
}
.banner .banner-content {
  height: .3rem;
  background-color: #ccc;
  border: 1px solid #8c8c8c;
  line-height: .3rem;
  padding-left: .1rem;
  font-size: .18rem;
  color: teal;
}
.content span:nth-child(1) {
  line-height: .65rem;
  margin-right: .1rem;
}
.content li {
  height: .65rem;
  padding-left: .1rem;
  padding-top: .1rem;
  border-bottom: 1px solid greenyellow;
}
.content li:nth-of-type(1) i {
  background-color: #1ed1bb ;
}
.content li:nth-of-type(2) i {
  background-color: #2ac845  ;
}
.content li:nth-of-type(3) i {
  background-color: #a1de16 ;
}
.content li i {
  font-style: normal;
  display: inline-block;
  width: .2rem;
  height: .2rem;
  text-align: center;
  line-height: .2rem;
  color: #fff;
  float: left;
  background-color: #ccc;
}
.content li .info {
  width: 500px;
  margin-left: .3rem;
}
.content li .info .title {
  font-size: .16rem;
}
.content li .info p {
  margin-top: .05rem;
}
.xiaoliang-content {
  height: 100%;
  background-color: #fff;
  padding-top: .1rem;
  border-bottom: 1px solid #ccc;
}
.xiaoliang-content li {
  height: 1.22rem;
}
.xiaoliang-content li img {
  width: 1rem;
  height: 1rem;
  float: left;
  margin-left: .1rem;
}
.xiaoliang-content li .main-right {
  overflow: hidden;
  font-size: .16rem;
  padding-left: .2rem;
}
.xiaoliang-content li .main-right .pirce {
  color: red;
  font-size: .15rem;
  margin-top: .1rem;
}
.xiaoliang-content li .main-right span {
  padding-right: .1rem;
  font-size: .12rem;
  color: #c0a16b;
}
.star {
  font-style: normal ;
  color: orangered;
  margin-right: .5rem;
}
.pinlun-content {
  height: 100%;
  background-color: #fff;
  padding-top: .1rem;
  border-bottom: 1px solid #ccc;
}
.pinlun-content a {
  display: block;
}
.pinlun-content li img {
  width: 1rem;
  height: 1rem;
  float: left;
  margin-left: .1rem;
}
.pinlun-content li .main-right {
  overflow: hidden;
  font-size: .16rem;
  margin-left: .2rem;
}
.pinlun-content li .main-right span {
  padding-right: .1rem;
  font-size: .12rem;
  color: #c0a16b;
}
.pinlun-content .main-txt {
  position: relative;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
  padding: .1rem;
  margin: 100px .1rem .1rem .1rem;
}
.pinlun-content .main-txt span {
  padding: 0 .02rem;
  font-size: .14rem;
}
.pinlun-content .main-txt .star2 {
  font-style: normal ;
  color: orangered;
  margin-right: .5rem;
}
.triangle {
  width: 0;
  height: 0;
  border-left: .08rem solid transparent ;
  border-right: .08rem solid transparent ;
  border-bottom: .08rem solid #F8F8F8;
  left: 72px;
  top: -9px;
  position: absolute;
  display: inline-block;
  z-index: 100000;
}
