.main p {
  font-size: .2rem;
  padding-left: .1rem;
  margin-top: .5rem;
}
.main .pic img {
  width: 2.3rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.main .table {
  height: .52rem;
}
.main .table li {
  float: left;
  width: 33.33%;
  background-color: pink;
  border-right: 1px solid red;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
.main .table li a {
  width: 1.9rem;
  height: .5rem;
  line-height: .5rem;
  text-align: center;
  color: #fff;
  font-size: .2rem;
}
.main .table li.active {
  background-color: green;
  margin: 0;
  padding: 0;
}
.main .comment h5 {
  font-size: .16rem;
  padding-left: .1rem;
}
.main-price {
  height: .57rem;
  width: 100%;
  display: flex;
  text-align: center;
  line-height: .49rem;
  vertical-align: middle;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.main-price div {
  width: 25%;
  flex: 1;
}
.main-price img {
  width: 15px;
  margin: 0 auto;
  padding-top: .1rem;
}
.main-price div:nth-of-type(2) {
  padding-right: 1rem;
}
.main-price div:nth-of-type(3) {
  padding-right: 3rem;
}
.main-price div:nth-of-type(4) {
  padding-top: .1rem;
  position: absolute;
  top: 0;
  right: .4rem;
}
.main-price div:nth-of-type(4) button {
  background-color: red;
  color: #fff;
  border-radius: .05rem;
}
.back {
  background-color: #fff;
  padding: .1rem 0;
}
.back .p_pic {
  line-height: 24px;
}
.back .p_pic img {
  vertical-align: middle;
  display: inline-block;
  width: .2rem;
}
.user .pinlun {
  text-align: center;
  font-size: 20px;
  background-color: pink;
  padding: .1rem 0;
}
.user p {
  margin-bottom: 0 ;
  text-align: right;
}
.user .username_left {
  padding-top: .1rem;
}
