.header {
  display: flex;
  flex: 1;
}
.header .left {
  padding-top: .1rem;
}
.header .left img {
  width: .2rem;
  height: .2rem;
  line-height: .2rem;
}
.header .mid {
  text-align: center;
  font-size: .3rem;
  color: #FFF;
  height: 100%;
  width: 60%;
  flex: 12;
  line-height: .5rem  ;
}
.header .right {
  float: right;
  flex: 1;
}
.nav .mui-scroll .mui-active {
  color: red ;
  border-bottom: 2px solid #ff0000;
}
.content {
  padding-left: .1rem;
}
.content ul {
  background-color: #f7f7f7;
}
.content ul li {
  height: 150px;
  padding: 10px 5px;
  background-color: #fff;
  margin-bottom: 10px;
}
.content ul li > a {
  display: block;
  width: 100%;
  height: 150px;
  position: absolute;
}
.content ul li .pic {
  height: 130px;
  width: 135px;
  float: left;
}
.content ul li .pic img {
  width: 100%;
  height: 100%;
}
.content ul li .inf {
  overflow: hidden;
  padding-left: .2rem;
}
.content ul li .inf .i .t {
  height: 28px;
  line-height: 28px;
}
.content ul li .inf .i .pr {
  height: 28px;
  line-height: 28px;
  color: red;
  font-size: 24px;
  vertical-align: middle;
}
.content ul li .inf .i .pr i {
  font-size: 16px;
  margin-right: 5px;
  font-style: normal;
}
.content ul li .inf .i .pr em {
  font-size: 12px;
  vertical-align: middle;
  font-style: normal;
}
.content ul li .inf .i .pr del {
  margin-left: 10px;
  font-size: 12px;
  color: #CCCCCC;
}
.content ul li .inf .o .bar {
  margin-top: 10px;
  position: relative;
}
.content ul li .inf .o .bar a {
  display: block;
  height: 60px;
  width: 120px;
  position: absolute;
  z-index: 1;
}
.content ul li .inf .o .bar i {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  display: block;
  height: 14px;
  width: 82px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #ccc;
  position: relative;
}
.content ul li .inf .o .bar i em {
  position: absolute;
  height: 100%;
  display: block;
  background-color: green;
}
.content ul li .inf .o .bar i span {
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 12px;
  color: #fff;
  font-style: normal;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
}
.content ul li .inf .o .bar b {
  overflow: hidden;
  font-size: 12px;
  vertical-align: middle;
  color: red;
  font-weight: 400;
}
.content ul li .inf .o .b {
  margin-top: 10px;
}
.content ul li .inf .o .b .q {
  height: 28px;
  width: 120px;
  float: left;
  border: 1px dotted red;
}
.content ul li .inf .o .b .q a {
  display: block;
  height: 100%;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  color: red;
}
.content ul li .inf .o .b .g {
  float: right;
  margin-right: 10px;
  background-color: mediumvioletred;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}
.content ul li .inf .o .b .g a {
  color: #fff;
  z-index: 1;
}
